header {
    padding: .5rem 0;
    top: 0;
    left: 0;
    z-index: 100;
    width: 100%;
    background-color:rgba(255,255,255,0.6);
    -webkit-box-shadow: 0 2px 28px 0 rgba(0, 0, 0, 0.09);
    box-shadow: 0 2px 28px 0 rgba(0, 0, 0, 0.09);
    -webkit-animation: 500ms ease-in-out 0s normal none 1 running fadeInDown;
    animation: 500ms ease-in-out 0s normal none 1 running fadeInDown;
    a {
        color: inherit !important; 
        text-decoration: none;
    }
    .container {
        background-color:rgba(255,255,255,0.6);
    }
    #menu {
        width: 25px;
        height: 25px;
    }
    @media (max-width: 767px) {
        z-index: 100;
        .nav-mobile > div {
            position: absolute;
            top: -220px;
            z-index: -1;
            left: 0;
            background-color: #ffffff;
            transition: all .35s ease;
            overflow: hidden;
            padding: 1rem 2rem;
            p {
                margin: 1rem 0 !important;
            }
        }
    }
    
}